
@{
    ViewBag.Title = "Index";
}
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Floor Admin Index</h2>

            @Html.ActionLink("Add Patients", "", "", null, new { @class = "btn btn-primary btn-large" })
            @Html.ActionLink("Release Patients", "", "", null, new { @class = "btn btn-primary btn-large" })
            @Html.ActionLink("Patients Treatment", "Index", "Doctor", null, new { @class = "btn btn-primary btn-large" })


            </div></div></section>