@model IEnumerable<HospitalManagement.Data.Building>

@{
    ViewBag.Title = "Dashboard";
}




<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Dashboard</h2>
            <p>
                @Html.ActionLink("Edit Building", "Index")
            </p>
            @foreach (var item in Model)
            {
                @Html.ActionLink(item.BuildingName, "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-large" });
                <br /><br />
            }
            </div>
        </div>
    </section>
